<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.androidtraining" >

    <!-- Required device features (Camera for no real reason :)) -->
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.NFC"
        android:required="true" />
    <!-- For OpenGL purposes -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.internet" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- User permissions for nfc transfer + READ EXTERNAL is necessary but this app already has write access -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Allows the background music -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Alows recording via mic -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Permission for bluetooth headset -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Wifi P2P permissions -->
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_WIFI_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.CHANGE_WIFI_STATE" />
    <!-- Connecting to network -->
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".GettingStarted.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GettingStarted.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".GettingStarted.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity" />
            <!-- Custom made intent for displaying text/plain in the DisplayMessageActivity -->
            <intent-filter>
                <action android:name="com.example.android.androidtraining.activity.DISPLAY_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GettingStarted.DisplayImageActivity"
            android:label="@string/title_activity_display" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity" />
        </activity>
        <activity
            android:name=".GettingStarted.TabActivity"
            android:label="@string/title_activity_tab" />
        <activity
            android:name=".GettingStarted.DropDownNavigationActivity"
            android:label="@string/title_activity_drop_down_navigation" />
        <activity
            android:name=".GettingStarted.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".GettingStarted.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GettingStarted.IntentsActivity"
            android:label="@string/title_activity_intents"
            android:parentActivityName=".GettingStarted.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity" />
        </activity>

        <service
            android:name=".GettingStarted.HelloIntentService"
            android:exported="false" />
        <service
            android:name=".GettingStarted.HelloService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".GettingStarted.BindService" />
        <service
            android:name=".MediaApp.MediaService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.android.androidtraining.action.PLAY" />
                <action android:name="com.example.android.androidtraining.action.STOP" />
                <action android:name="com.example.android.androidtraining.action.PLAY_FOREGROUND" />
                <action android:name="com.example.android.androidtraining.action.STOP_FOREGROUND" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.androidtraining.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" >
            </meta-data>
        </provider>

        <activity
            android:name=".GettingStarted.FileSelectActivity"
            android:label="@string/title_activity_file_select"
            android:parentActivityName=".GettingStarted.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity" />
        </activity>

        <receiver android:name=".GettingStarted.AppWidgetProviderTest" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity
            android:name=".GettingStarted.DatabaseActivity"
            android:label="@string/title_activity_database"
            android:parentActivityName=".GettingStarted.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.LoginActivity" />
        </activity>
        <activity
            android:name=".MediaApp.MediaActivity"
            android:label="@string/title_activity_media"
            android:parentActivityName=".GettingStarted.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity" />
        </activity>
        <activity
            android:name=".MediaApp.RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>

        <receiver android:name=".MediaApp.RemoteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MediaApp.CameraActivity"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".MediaApp.MediaActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MediaApp.MediaActivity" />
        </activity>
        <activity
            android:name=".MediaApp.VideoActivity"
            android:label="@string/title_activity_video"
            android:parentActivityName=".MediaApp.MediaActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MediaApp.MediaActivity" />
        </activity>
        <activity
            android:name=".MediaApp.BitmapActivity"
            android:label="@string/title_activity_bitmap"
            android:parentActivityName=".MediaApp.MediaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MediaApp.MediaActivity" />
        </activity>
        <activity
            android:name=".MediaApp.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:parentActivityName=".MediaApp.MediaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MediaApp.MediaActivity" />
        </activity>
        <activity
            android:name=".MediaApp.GridViewActivity"
            android:label="@string/title_activity_grid" >
        </activity>
        <activity
            android:name=".MediaApp.OpenGLActivity"
            android:label="@string/title_activity_open_gl"
            android:parentActivityName=".MediaApp.MediaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MediaApp.MediaActivity" />
        </activity>
        <activity
            android:name=".AnimationApp.AnimationActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name=".AnimationApp.ViewPagerAnimationActivity"
            android:label="@string/title_activity_view_pager_animation"
            android:parentActivityName=".AnimationApp.AnimationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnimationApp.AnimationActivity" />
        </activity>
        <activity
            android:name=".AnimationApp.CardFlipActivity"
            android:label="@string/title_activity_card_flip" >
        </activity>
        <activity
            android:name=".AnimationApp.ZoomAnimationActivity"
            android:label="@string/title_activity_zoom_animation" >
        </activity>
        <activity
            android:name=".AnimationApp.AddItemsActivity"
            android:label="@string/title_activity_add_items" >
        </activity>
        <activity
            android:name=".GettingStarted.ConnectivityActivity"
            android:label="@string/title_activity_connectivity"
            android:parentActivityName=".GettingStarted.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity" />
        </activity>
        <activity
            android:name=".ChatApp.NsdActivity"
            android:label="@string/title_activity_nsd"
            android:parentActivityName=".GettingStarted.ConnectivityActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.ConnectivityActivity" />
        </activity>
        <activity
            android:name=".GettingStarted.ShowWebPageActivity"
            android:label="@string/title_activity_show_web_page" >
        </activity>
        <activity
            android:name=".GettingStarted.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".GettingStarted.ConnectivityActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.androidtraining.GettingStarted.ConnectivityActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GettingStarted.NetworkActivity"
            android:label="@string/title_activity_network" >
        </activity>
        <activity
            android:name=".GettingStarted.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>

        <service
            android:name=".GettingStarted.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".GettingStarted.MoreActivity"
            android:label="@string/title_activity_more" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MainActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".GettingStarted.RetrieveContactsActivity"
            android:label="@string/title_activity_retrieve_contacts" >
        </activity>
        <activity
            android:name=".Navigation.NavigationActivity"
            android:label="@string/title_activity_navigation" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GettingStarted.MoreActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".Navigation.ViewPagerDesignActivity"
            android:label="@string/title_activity_view_pager_design" >
        </activity>
        <activity
            android:name=".Navigation.DrawerActivity"
            android:label="@string/title_activity_drawer" >
        </activity>
    </application>

</manifest>
