<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.androidtraining" >

    <!-- Required device features (Camera for no real reason :)) -->
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.NFC"
        android:required="true" />

    <uses-permission android:name="android.permission.internet" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- User permissions for nfc transfer + READ EXTERNAL is necessary but this app already has write access -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Allows the background music -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Alows recording via mic -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Permission for bluetooth headset -->
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.androidtraining.MainActivity" />
            <!-- Custom made intent for displaying text/plain in the DisplayMessageActivity -->
            <intent-filter>
                <action android:name="com.example.android.androidtraining.activity.DISPLAY_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayImageActivity"
            android:label="@string/title_activity_display" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab" />
        <activity
            android:name=".DropDownNavigationActivity"
            android:label="@string/title_activity_drop_down_navigation" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.androidtraining.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".IntentsActivity"
            android:label="@string/title_activity_intents"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.androidtraining.MainActivity" />
        </activity>

        <service
            android:name=".HelloIntentService"
            android:exported="false" />
        <service
            android:name=".HelloService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".BindService" />
        <service
            android:name=".MediaService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.android.androidtraining.action.PLAY" />
                <action android:name="com.example.android.androidtraining.action.STOP" />
                <action android:name="com.example.android.androidtraining.action.PLAY_FOREGROUND" />
                <action android:name="com.example.android.androidtraining.action.STOP_FOREGROUND" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.androidtraining.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" >
            </meta-data>
        </provider>

        <activity
            android:name=".FileSelectActivity"
            android:label="@string/title_activity_file_select"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.androidtraining.MainActivity" />
        </activity>

        <receiver android:name=".AppWidgetProviderTest" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity
            android:name=".DatabaseActivity"
            android:label="@string/title_activity_database"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.androidtraining.LoginActivity" />
        </activity>
        <activity
            android:name=".MediaActivity"
            android:label="@string/title_activity_media"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.androidtraining.MainActivity" />
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>

        <receiver android:name=".RemoteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
